*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.Titulo {
    color: white;
}

.producto {
    width: 23%; 
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc; 
    padding: 10px;
}

.producto h3 {
    margin-top: 10px; 
}

.producto img {
    max-width: 300px;
    height: 350px;
}

.producto button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#inputBusqueda {
    width: 300px;
    padding: 5px 10px;
    margin-left: 500px;
}


#btnBuscar {
    background-color: black; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    transition: background-color 0.3s, color 0.3s; 
}

#btnBuscar:hover {
    background-color: white; 
    color: black;
}

#carrito {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

#carrito-icono {
    color: #fff;
}

.carrito-oculto {
    right: -400px; 
}


#lista-carrito {
    padding: 10px;
}

#lista-carrito li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botonComprar {
    display: block;
    margin: 10px auto;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#botonComprar:hover {
    background-color: #0056b3; 
}

.boton-disminuir {
    background-color: #FF5733; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
    margin-right: 5px; 
}

.boton-disminuir:hover {
    background-color: #FF3C1A;
}


.boton-aumentar {
    background-color: #33FF57;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px; 
    margin-right: 10px;
}

.boton-aumentar:hover {
    background-color: #1AFF33;
}


.boton-eliminar {
    background-color: #ff3b3b; 
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    margin-right: 5px; 
    margin-left: 5px;
    cursor: pointer; 
    border-radius: 5px; 
    width: 90px;
  }
  

  .boton-eliminar:hover {
    background-color: #ff0000; 
    color: #fff; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
.container-fluid img {
    width: 100px;
}

footer {
    width: 100%;
    margin-top: auto;
}

#footer-nombre {
    color: white;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    #inputBusqueda {
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 20px;
    }
    .Titulo {
        margin-right: 100px;
    }
    .producto img {
        height: 200px;
    }
    .producto {
        width: 90%;
        margin-left: 18px;
    }
}